{extend name="public/base" /}
{block name="css"}
<link rel="stylesheet" href="__HOME__/css/news.min.css" />
{/block}
{block name="container"}
<div class="layout-container">
     <div class="section news-section">
      <div class="container">
        <!--news-section left start-->
        <div class="am-u-md-9">
          <div class="article">
            <header class="article--header">
              <h2 class="article--title"><a>{$voo.title}</a></h2>
              <ul class="article--meta">
                <li class="article--meta_item"><i class="am-icon-calendar"></i>{$voo.create_time|date='Y-m-d H:i:s',###}</li>
              </ul>
            </header>
            <div class="article--content">
              {$voo.content}
            </div>
          </div>
        </div>
        <!--news-section left end-->

        <!--news-section right start-->
        <div class="am-u-md-3">
          <div class="blog_sidebar">
            <div class="widget">
              <h2 class="widget--title"><i class="am-icon-file-text-o"></i>最新资讯</h2>
              <ul>
              {volist name="list" id="vo"}
                  <li><a href="{:url('home/infolist/show',['id'=>$vo['id']])}">{$vo.title}</a></li>
              {/volist}
              </ul>
            </div>
          </div>
        </div>
        <!--news-section right end-->
      </div>
    </div>

</div>
{/block}
