{extend name="public/base" /}
{block name="css"}
<link rel="stylesheet" href="__HOME__/css/solution.min.css" />
{/block}
{block name="container"}
<div class="layout-container">

    <div class="section">
      <div class="container">
        <div class="section--header">
          <h2 class="section--title">产品中心</h2>
        </div>

        <div class="solution-container">
          <div data-am-widget="tabs" class="am-tabs ">
              <ul class="am-tabs-nav am-cf">
                  {volist name="list" id="vo"}
                  <li class="{if condition='$i eq 1'} am-active {/if}"><a href="[data-tab-panel-{$vo.id}]">{$vo.title}</a></li>
                  {/volist}
              </ul>
              <div class="am-tabs-bd">
              {volist name="list" id="vo"}
              <div data-tab-panel-{$vo.id} class="am-tab-panel {if condition='$i eq 1'} am-active {/if}">
                 <div class="am-g">
                   {volist name="vo.list" id="vo1"}
                   <div class="am-u-md-4 am-u-sm-6" style="float: left;">
                   <div class="features_item">
                      <a href="{:url('home/product/show',['id'=>$vo1['id']])}"><img src="__ROOT__{$vo1.picurl}" alt="{$vo1.title}" width="260px" height="200px"></a>
                      <h3 class="features_item--title"><a href="{:url('home/product/show',['id'=>$vo1['id']])}">{$vo1.title}</a></h3>
                    </div>
                        
                   </div>

                  {/volist}
                 </div>
              </div>
              {/volist}
              </div>
          </div>
        </div>
      </div>
    </div>
</div>

{/block}
